:root{
    --cor-principal:#ddd;

}
body {
    font-family: Arial, sans-serif;
}

.sidebar {
    height: auto;
    background-color: var(--cor-principal);
    padding-top: 20px;
}



.sidebar a {
    color: #ecf0f1;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #2980b9;
    border-radius: 15px;
}

.main-content {
    padding: 20px;
}
p th {  /* Targets all paragraph elements */
    color: #fff;
  }

.header {
    background-color: #ecf0f1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .user-info {
    display: flex;
    align-items: center;
}

.header .user-info img {
    border-radius: 50%;
    margin-right: 10px;
}

.form-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #2980b9;
}

.form-section h2 {
    margin-bottom: 20px;
}

.form-section .form-group {
    margin-bottom: 15px;
}

.form-section .form-group label {
    font-weight: bold;
}

.form-section .btn-primary {
    background-color: #2980b9;
    border-color: #ddd;
}

.card-body ul li {
    list-style-type: none;
    margin-left: -20px;
}

.card-header,
.card-body {
    background-color: #2980b9;
}

.accordion{
    border: #2c3e50;
}

.btn-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btn-link:hover {
    text-decoration: none;
    color: #a8a3a3;
    font-weight: bold;
}

.card {
    border: none;
}

.card-header {
    border: none;
    
}

.card-body {
    border: none;
}

.card-header .btn-link {
    color: white;
    text-decoration: none;
}

.botoes, 
.finalizar {
    text-align: center;
}

.text{
    margin-bottom: -4px;
}

.user-info {
    display: flex;
    align-items: center; /* Alinha verticalmente os itens no centro */
  }
  .user-info img {
    margin-right: 10px; /* Espaçamento horizontal entre a imagem e o texto */
    border-radius: 50%; /* Faz a imagem ficar redonda */
  }
  .user-info .text p {
    margin: 0; /* Remove as margens padrão dos parágrafos */
  }
  .user-info .text p:first-child {
    font-weight: bold; /* Adiciona um peso maior ao primeiro parágrafo */
  }
  .user-info .text p:not(:first-child) {
    margin-top: 2px; /* Espaçamento vertical entre os parágrafos */
  }

  table {
    border-collapse:separate;
    width: 100%;
  }
  
  /* Estilos para o cabeçalho da tabela */
  thead th {
    background-color:#2980b9;
    font-weight: bold;
    padding: 8px;
    text-align: left;

  }
  
  /* Estilos para as células da tabela */
  tbody td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Estilos para as linhas pares da tabela */
  tbody tr:nth-child(even) {
    background-color: gray;
  }
  
  /* Estilos para as linhas ímpares da tabela */
  tbody tr:nth-child(odd) {
    background-color: darkblue;
  }
  
  /* Estilos para a área de adicionar pedido */
  #add-pedido {
    margin-bottom: 20px;
  }
  
  /* Estilos para os botões de ação */
  .acoes button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .acoes button:hover {
    background-color: #3e8e41;
  }

  .tabela{
    background-color: #fff;
    
  }